html,
body {
  height: 100%;
}
body {
  background-color: #292929;
  color: #fff;
  margin: 0;
  padding: 0;
}

#content-section {
  display: none;
}


























*/
.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr 1.5fr 1fr;
  grid-gap: 2px;
}

.box-1 {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-1 .container {
  padding: clamp(2em, 5vw, 5em);
}

.box-2 {
  grid-column: 2 / 5;
  grid-row: 1 / 3;
}

.box-2 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(4em, 3vw, 5em) clamp(1em, 3.5vw, 6em);
}

.box-2 .flex-box {
  display: flex;
}

.box-2 .flex-box div:first-of-type {
  margin-right: clamp(20px, 10vw, 450px);
}

.box-2 .top-song-img {
  width: clamp(250px, 18vw, 400px);
}
/* 3333333333333333333333333 */

.box-3 {
  grid-column: 1;
  grid-row: 2 / 5;
}

.box-3 .container {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  padding-bottom: 0;
}

.box-3 h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.box-3 h4 {
  margin-top: 5px;
}

.box-3 h10 {
  display: inline-block;
  margin-top: 15px;
}

.box-3 .song-table-container {
  width: 100%;
}
.box-3 .song-table-row {
  width: 100%;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

/* 333333333333333333333 */
/* 444444444444444444444 */
.box-4 {
  grid-column: 2;
  grid-row: 3 / 5;
}

.box-4 .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box-4 .flex-box {
  display: flex;
  align-items: center;
  width: 80%;
}

.box-4 .container h6,
.box-4 .container h2 {
  margin: 0;
}

.box-4 .container h2 {
  margin-left: clamp(1em, 4vw, 6em);
  margin-right: clamp(1em, 6vw, 10em);
}

.box-4 .container h8 {
  width: clamp(200px, 7vw, 450px);
}
/* 4444444444444444 */

.box-5 {
  grid-column: 3;
  grid-row: 3 / 5;
}

.box-6 {
  grid-column: 4;
  grid-row: 3;
}

.box-7 {
  grid-column: 4;
  grid-row: 4;
}

.wrapper > div {
  background-color: #161616;
}
/* 






















*/
@media only screen and (max-width: 1600px) {
  .wrapper {
    min-height: 175%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
  }

  .box-1 {
    grid-column: 1;
    grid-row: 4;
  }

  .box-2 {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  .box-2 .container {
    justify-content: space-around;
  }

  .box-3 {
    grid-column: 2/5;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-3 .song-table-container {
    margin-top: 0px;
  }

  .box-3 .container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
  }

  .box-4 {
    grid-column: 1/3;
    grid-row: 2/4;
  }

  .box-5 {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .box-6 {
    grid-column: 4;
    grid-row: 2/3;
  }

  .box-7 {
    grid-column: 4;
    grid-row: 3/4;
  }
}

@media only screen and (max-width: 1450px) {
  .box-3 .container {
    flex-direction: column;
  }
  .box-3 .song-table-container {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1100px) {
  .wrapper {
    min-height: 200%;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .box-1 {
    grid-column: 1;
    grid-row: 4;
  }

  .box-2 {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  .box-2 .image-container {
    display: none;
  }

  .box-3 {
    grid-column: 2/5;
    grid-row: 4;
  }

  .box-4 {
    grid-column: 1/4;
    grid-row: 2;
  }

  .box-5 {
    grid-column: 3/5;
    grid-row: 3;
  }

  .box-6 {
    grid-column: 4;
    grid-row: 2;
  }

  .box-7 {
    grid-column: 1/3;
    grid-row: 3;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper {
    min-height: 250%;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .box-1 {
    grid-column: 1/3;
    grid-row: 4;
  }

  .box-2 {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  .box-3 {
    width: 100%;
    grid-column: 1/5;
    grid-row: 5;
    display: flex;
    justify-content: center;
  }

  .box-4 {
    grid-column: 1/5;
    grid-row: 3;
  }

  .box-5 {
    grid-column: 3/5;
    grid-row: 2;
  }

  .box-6 {
    grid-column: 1/3;
    grid-row: 2;
  }

  .box-7 {
    grid-column: 3/5;
    grid-row: 4;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    min-height: unset;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content;
  }

  .box {
    height: max-content;
    padding-top: clamp(3em, 6vw, 8em);
    padding-bottom: clamp(3em, 6vw, 8em);
  }

  .box-1 {
    grid-column: unset;
    grid-row: unset;
  }

  .box-2 {
    grid-column: unset;
    grid-row: unset;
  }

  .box-2 .container {
    margin-left: 20px;
  }

  .box-3 {
    grid-column: unset;
    grid-row: unset;
  }

  .box-4 {
    grid-column: unset;
    grid-row: 3;
  }

  .box-4 .container {
    justify-content: space-between;
  }

  .box-4 .flex-box {
    align-items: stretch;
  }

  .box-5 {
    grid-column: unset;
    grid-row: unset;
  }

  .box-6 {
    grid-column: unset;
    grid-row: 2;
  }

  .box-7 {
    grid-column: unset;
    grid-row: unset;
  }
}
