html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#wrapper {
 height: 100%;
 display: flex;  
}

.button {
    border-radius: 5px;
    height: 63px;
    width: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7F7E7E;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #E1E1E1;
}

input {
    background-color: #F9F9F9;
    border-radius: 5px;
    border: none;
    height: 63px;
    width: clamp(80px, 20vw, 260px);
    outline: none;
    padding-left: 20px;
}

.button-active {
    background-color: #fefb02;
    color: #292929;
}   

.button-dark {
    background-color: #292929;
    color: #fff;
}

#left-sidebar {
    height: 100%;
    width: 20%;
    /* border-right: 1px solid #e7e7e7; */
}

#left-sidebar .container {
    padding: 15px clamp(15px, 2vw, 75px);
}

#left-sidebar h3 {
    padding-left: 18px;
}

#left-sidebar .button {
    width: 100%;
    margin: 25px 0;
    justify-content: flex-start;
}

#left-sidebar .button:hover {
    background-color: #fefb02;
    color: #292929;
}


#left-sidebar .button .button-icon {
    padding-left: 18px;
    padding-right: 30px;
}

#middle-section {
    width: 60%;
    height: 100vh;
    box-sizing: border-box;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}


#inputs-container {
    box-sizing: border-box;
    min-height: 30vh;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px clamp(15px, 10vw, 80px);
}

#inputs-container .inputs-row {
    display: flex;
}

#inputs-container input, #inputs-container .button {
    margin: 8px;
}

#song-listing-container {
    height: 70vh;
    overflow-y: scroll;
    padding: 15px clamp(15px, 10vw, 80px);
    box-sizing: border-box;
}

.song-listing {
    margin: 20px 0;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.song-text-container {
    display: flex;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.song-text-container h5 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;  
    text-overflow: ellipsis;
    margin: 5px 0;
}

.song-albumn {
    width: 20%;
    overflow: hidden;
    white-space: nowrap;  
    text-overflow: ellipsis;
}

.active-song-listing {
    background-color: #F9F9F9;
}

.song-image {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #292929;
}

.play-pause-button, .shift-arrow-button {
    cursor: pointer;
}


#right-sidebar {
    height: 100%;
    width: 20%;
    z-index: 100;
    
}
#statistic-container {
    height: 50%;
    width: 100%;
    display: flex;
}

.stat-box-divider {
    height: 50%;
    width: 50%;

}

.stat-box {
    border: 1px solid #E7E7E7;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-box h2, .stat-box h10 {
    margin: 0;
    text-align: center;
}


#player-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#song-player-image {
    width: 132px;
    height: 132px;
    border-radius: 5px;
    background-color: #292929;
    margin: 50px 0 30px 0;
}

#music-controller-container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 25px;
}

#music-controller-container img {
    cursor: pointer;
}



@media only screen and (min-width: 1200px) {
    
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e7e7e7; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292929; 
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}


@media only screen and (max-width: 1200px) {
    #left-sidebar {
        width: 25%;
    }
    #middle-section {
        width: 75%;
    }

    .play-pause-button {
        display: none;
    }
    #right-sidebar {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    #wrapper {
        flex-direction: column;
    }
    #left-sidebar {
        width: 100%;
    }
    #left-sidebar .container {
        padding: 20px 10%;
    }


    #left-sidebar .button:not(.button-active) {
        background-color: #292929;
        color: #fff;
    }

    #middle-section {
        width: 100%;
        height: unset;
    }
    
    #inputs-container input, #inputs-container .button {
        margin: 8px 0;
    }

    #search-input-row input {
        width: 100%;
        box-sizing: border-box;
    }

    #search-button {
        width: 100%;
        box-sizing: border-box;
    }

    #middle-section #search-input-row {
        flex-direction: column;
        width: 100%;
    }

    #playlist-input-row input {
        width: 70%;
        margin-right: 2%;
    }    

    #add-playlist-button {
        width: 28%;
    }

    #song-listing-container {
        padding: 15px 0;
        height: 50vh;
    }


    #right-sidebar {
        display: flex;
        width: 100%;
        border-top: 1px solid #e7e7e7;
        border-left: none;
    }

    #statistic-container {
        height: 100%;
    }
    
    .stat-box-divider {
        height: 100%;
    }

    #right-sidebar #player-container {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .song-albumn {
        display: none;
    }
}