:root {
  --animation-time: 2s; 
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#wrapper {
  height: 100%;
  display: flex;
}

/* loader */
#loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
}

#loader .line {
  width: 4px;
  height: 60px;
  margin: 0 3px;
  border-radius: 5px;
  background-color: #292929;
  background: #292929;
  transition: opacity 0.5s;
}

#loader .line:nth-child(1) {
  animation: changeHeight2 0.3s ease-in-out alternate infinite, fadeIn 2s;
}

#loader .line:nth-child(2) {
  animation: changeHeight 0.5s ease-in-out alternate infinite, fadeIn 2s;
}

#loader .line:nth-child(3) {
  animation: changeHeight3 0.4s ease-in-out alternate infinite, fadeIn 2s;
}

#loader .line:nth-child(4) {
  animation: changeHeight 0.4s ease-in-out alternate infinite, fadeIn 2s;
}

#loader .line:nth-child(5) {
  animation: changeHeight2 0.3s ease-in-out alternate infinite, fadeIn 2s;
}

#loader .line:nth-child(6) {
  animation: changeHeight3 0.3s ease-in-out alternate infinite, fadeIn 2s;
}

#loader .line:nth-child(7) {
  animation: changeHeight3 0.4s ease-in-out alternate infinite, fadeIn 2s;
}

#loader .line:nth-child(8) {
  animation: changeHeight2 0.5s ease-in-out alternate infinite, fadeIn 2s;
}

@keyFrames expandLines {
  from {
    width: 4px;
    height: 60px;
    margin: 0 3px;
  }
  to {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes changeHeight {
  0% {
    height: 60px;
  }
  100% {
    height: 30px;
  }
}

@keyframes changeHeight2 {
  0% {
    height: 60px;
  }
  100% {
    height: 40px;
  }
}

@keyframes changeHeight3 {
  0% {
    height: 50px;
  }
  100% {
    height: 70px;
  }
}


/* loader */









.button {
  border-radius: 5px;
  height: 63px;
  min-width: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7f7e7e;
  cursor: pointer;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #e1e1e1;
}

input,
select {
  background-color: #f9f9f9;
  border-radius: 5px;
  border: none;
  height: 63px;
  width: clamp(100px, 20vw, 260px);
  outline: none;
  padding-left: 20px;
}

select {
  width: clamp(120px, 8vw, 260px);
}

.range-select-groups {
  display: none;
}

.button-active {
  background-color: #fefb02;
  color: #292929;
}

.button-faded {
  background-color: #767676;
  color: #fff;
  cursor: auto;
}

.button-dark {
  background-color: #292929;
  color: #fff;
}

#left-sidebar {
  height: 100%;
  width: 20%;
  /* border-right: 1px solid #e7e7e7; */
}

#left-sidebar .container {
  padding: 15px clamp(15px, 2vw, 75px);
}

#left-sidebar h3 {
  padding-left: 18px;
  color: #292929;
}

#left-sidebar .button {
  width: 100%;
  margin: 25px 0;
  justify-content: flex-start;
}

#left-sidebar .button:hover {
  background-color: #fefb02;
  color: #292929;
}

#left-sidebar .button .button-icon {
  padding-left: 18px;
  padding-right: 30px;
}

#middle-section {
  width: 60%;
  height: 100vh;
  box-sizing: border-box;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

#inputs-container {
  box-sizing: border-box;
  min-height: 30vh;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px clamp(15px, 10vw, 80px);
}

#inputs-container .inputs-row {
  display: flex;
}

#inputs-container input,
#inputs-container .button,
#inputs-container select {
  margin: 8px;
}

#song-listing-container {
  height: 70vh;
  overflow-y: scroll;
  padding: 15px clamp(15px, 10vw, 80px);
  box-sizing: border-box;
}

.song-listing {
  margin: 20px 0;
  width: 100%;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.song-listing:hover {
  background-color: #faf3f3;
}
.song-text-container {
  display: flex;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.song-text-container h5 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 5px 0;
}

.song-albumn {
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.active-song-listing {
  background-color: #faf3f3;
}

.song-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #292929;
}

.song-image img {
  width: inherit;
  height: inherit;
  border-radius: 5px;
}

.play-pause-button,
.shift-arrow-button {
  cursor: pointer;
}

.add-songs-button-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-more-songs-button {
  border-radius: 5px;
  background-color: #e7e7e7;
  font-size: 28px;
  color: #292929;
  padding: 2px 50px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-out;
}

.display-more-songs-button:hover {
  background-color: #292929;
  color: #fff;
}

#loading-placeholder {
  width: 60%;
  margin: 2em 0;
  background-color: #f2f3f9;
  border-radius: 5px;
}

#loading-placeholder h3 {
  color: #bcc5d6;
  padding: 30px;
}

#right-sidebar {
  height: 100%;
  width: 20%;
  z-index: 100;
}
#statistic-container {
  height: 50%;
  width: 100%;
  display: flex;
}

.stat-box-divider {
  height: 50%;
  width: 50%;
}

.stat-box {
  border: 1px solid #e7e7e7;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-box h2,
.stat-box h10 {
  margin: 0;
  text-align: center;
}



/* ===================================== */
#related-songs-container h4 {
  padding-top: 20px;
  text-align: center;
}

#related-songs-container {
  height: 50%;
}

#related-songs-listing-container {
  height: 90%;
  overflow-y: scroll;
  box-sizing: border-box;
}


@media only screen and (min-width: 1200px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #e7e7e7;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292929;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media only screen and (max-width: 1200px) {
  #left-sidebar {
    width: 25%;
  }
  #middle-section {
    width: 75%;
  }

  #right-sidebar {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  #wrapper {
    flex-direction: column;
  }
  #left-sidebar {
    width: 100%;
  }
  #left-sidebar .container {
    padding: 20px 10%;
  }

  #left-sidebar .button:not(.button-active) {
    background-color: #292929;
    color: #fff;
  }

  #middle-section {
    width: 100%;
    height: unset;
  }

  #inputs-container input,
  #inputs-container .button {
    margin: 8px 0;
  }

  #search-input-row input {
    width: 100%;
    box-sizing: border-box;
  }

  #search-button {
    width: 100%;
    box-sizing: border-box;
  }

  #middle-section #search-input-row {
    flex-direction: column;
    width: 100%;
  }

  #search-input-row select {
    width: 100%;
    margin: 8px 0;
  }

  #playlist-input-row input {
    width: 70%;
    margin-right: 2%;
  }

  #add-playlist-button {
    width: 28%;
  }

  #song-listing-container {
    padding: 15px 0;
    height: 50vh;
  }

  #right-sidebar {
    display: flex;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    border-left: none;
  }

  #statistic-container {
    height: 100%;
  }

  .stat-box-divider {
    height: 100%;
  }

  #right-sidebar #related-songs-container {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .song-albumn {
    display: none;
  }
}
