html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#wrapper {
 height: 100%;
 display: flex;   
}

.button {
    border-radius: 5px;
    height: 63px;
    width: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7F7E7E;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #E1E1E1;
}

input {
    background-color: #F9F9F9;
    border-radius: 5px;
    border: none;
    height: 63px;
    min-width: 260px;
    outline: none;
    padding-left: 20px;
}

.button-active {
    background-color: #fefb02;
    color: #292929;
}   

.button-dark {
    background-color: #292929;
    color: #fff;
}


#left-sidebar {
    height: 100%;
    width: 20%;
    border-right: 1px solid #e7e7e7;
}

#left-sidebar .container {
    padding: 50px 75px;
}

#left-sidebar h3 {
    padding-left: 18px;
}

#left-sidebar .button {
    width: 100%;
    margin: 25px 0;
    justify-content: flex-start;
}

#left-sidebar .button:hover {
    background-color: #fefb02;
    color: #292929;
}


#left-sidebar .button .button-icon {
    padding-left: 18px;
    padding-right: 30px;
}

#middle-section {
    height: 100%;
    width: 60%;
}

#inputs-container {
    min-height: 30%;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputs-container .inputs-row {
    display: flex;
}

#inputs-container input, #inputs-container .button {
    margin: 8px;
}

#song-listing-container {
    min-height: 70%;
}

#right-sidebar {
    height: 100%;
    width: 20%;
    border-left: 1px solid #e7e7e7;
}


